@model BizCommerce.Entrevista.Aplicacao.Models.Profissional

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Profissional</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nome do profissional
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom_profissional)
        </dd>

        <dt>
            Data admissão
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dat_admissao)
        </dd>

        <dt>
            Data desligamento
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dat_desligamento)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
